main#home {
  display: flex;
  height: 100vh;
  overflow: hidden;

  & #products-container {
    width: 100%;
    overflow-y: scroll;
    padding: 20px;

    & h2 span {
      font-size: 20px;
      color: #858585;
      font-weight: 400;
    }

    & section:last-child {
      margin-bottom: 0;
    }
  }

  @media only screen and (max-width: 600px) {
    & #products-container {
      padding: 10px;
      padding-top: 100px;

      & > h2 {
        margin: 20px 0;
        font-size: 24px;
      }
    }
  }
}
