nav#navbar {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #08200d;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  z-index: 3;
  display: none;
  padding: 20px;

  & > svg {
    cursor: pointer;
  }

  ul.social-media {
    display: flex;

    li {
      margin: 0 10px;
      display: flex;
      align-items: center;
      cursor: pointer;
      transition: color 0.5s ease-out;

      &:hover {
        color: #ffd700;
      }

      & a {
        display: flex;
        align-items: center;
      }
    }
  }

  & > a {
    position: relative;
    top: 20px;

    h1 {
      display: none;
    }
  }

  @media only screen and (max-width: 600px) {
    display: flex;

    & ul.social-media {
      li {
        margin: 0 5px;
      }
    }

    & > a {
      margin-left: 20px;

      & svg {
        height: 30px;
        width: 30px;
      }
    }
  }
}
